.about {
  padding: 90px 13%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.aboutImg img {
  width: 100%;
  border-radius: 20px;
}

.aboutText h5 {
  color: var(--main-color);
  font-size: 16px;
  letter-spacing: 2px;
}

.aboutText h2 {
  font-size: 36px;
  color: var(--text-color);
  margin: 12px 0;
}

.aboutText p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}
