.heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.container {
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 1.2rem;
  align-items: center;
  cursor: pointer;
}

.containerBox {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border: 2.3px solid #e9ecef;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
  transition: all 0.4s ease;
}

.containerBox img {
  width: 100%;
  border-radius: 10px;
}

.containerBox:hover img {
  transform: translateY(-15px);
}

.containerText {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}
