.about {
  padding: 80px 0;
  text-align: center;
}

.about h4 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.about p {
  font-size: 16px;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 600px;
}
